<!DOCTYPE html>
<html lang="fr">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
     <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
     <title>Game Over</title>
</head>

<body>
     <h1>Game Over</h1>
     <p>{{.Message}}</p>
     {{if eq .Message "Dommage ! Vous avez perdu !"}}
     <p>Le mot était : <strong>{{.WordToGuess}}</strong></p>
     {{end}}
     <a href="/">Rejouer</a>
</body>

</html>