<!DOCTYPE html>
<html lang="fr">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
     <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
     <title>Hangman - Jeu du Pendu</title>
</head>

<body>
     <h1>Jeu du Pendu</h1>

     <h2>Niveau: {{.Level}}</h2>

     <p><strong>Mot à deviner:</strong> {{.Word}}</p>

     <p><strong>Lettres déjà essayées:</strong> {{.Historic}}</p>



     <form method="POST" action="/hangman">
          <label for="letter">Proposez une lettre:</label>
          <input type="text" id="letter" name="letter" maxlength="1" required autofocus>
          <button type="submit">Soumettre</button>
     </form>

</body>

</html>