<!DOCTYPE html>
<html lang="fr">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Hangman Home</title>
     <link href="css/style.css" rel="stylesheet" type="text/css" />
     <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
     <h1>Bienvenue sur Hangman Web !</h1>
     <p>Devinez le mot en proposant des lettres.</p>
     <a href="/hangman?NewGame=facile">Niveau : Facile</a>
     <p> <a href="/hangman?NewGame=moyen">Niveau : Moyen</a></p>
     <p> <a href="/hangman?NewGame=difficile">Niveau : Difficile</a></p>

</body>

</html>